Ад укладальнікаў

<a href="#p1">Гісторыя падрыхтоўкі</a><br/>
<a href="#p2">Пра гэтае выданне</a><br/>
<a href="#p3">Перавагі сучасных падыходаў</a><br/>
<a href="#d1">&nbsp;&nbsp;&nbsp;&nbsp;Дадатак 1. Прынцыпы адаптацыі арыгінальнага рэестра Слоўніка Насовіча</a><br/>
<a href="#d2">&nbsp;&nbsp;&nbsp;&nbsp;Дадатак 2. Поле «ключавыя словы»</a><br/>


<h2 id="p1">Гісторыя падрыхтоўкі</h2>
Слоўнік Насовіча з’яўляецца адной з найважнейшых лексікаграфічных прац у гісторыі беларускага мовазнаўства. Найбольшы слоўнік беларускай мовы ХІХ ст., ён адразу па сваім выхадзе надоўга стаў асноўнай крыніцай (хоць карысталіся ім часам не надта крытычна) для ўкладання іншых слоўнікаў (указальніка Паўла Шэйна, размоўнікаў Адальберта Войцеха Старчэўскага, перакладных слоўнікаў Максіма Гарэцкага, Міколы Байкова, Сцяпана Некрашэвіча, Яна Станкевіча і інш.). Таксама важна адзначыць, што Слоўнік Насовіча, разам з публікацыямі Яўхіма Карскага, актыўна выкарыстоўваўся рэдактарамі і аўтарамі газеты «Наша Ніва».
Слоўнік двойчы перавыдавалі факсімільна (то-бок проста рэпрадуктавалі арыгінал). Такімі перавыданнямі сённяшняму чытачу карыстацца досыць нязручна з розных прычын. У 2002 годзе Зміцер Саўка, плануючы зрабіць новае выданне Слоўніка Насовіча для сучаснага чытача, пачаў яго алічбоўку і вычытку, адаптаваў да нормаў беларускага правапісу частку загаловачных слоў. Аднак гэтая праца амаль спынілася ў 2006 годзе праз нястачу грошай.
Пасля смерці Змітра Саўкі ў 2016 годзе, калі ў архівах мовазнаўцы знайшліся ягоныя ранейшыя напрацоўкі, было вырашана працягнуць праект. У 2019 годзе Алесь Булойчык і Уладзімір Кошчанка сабралі грошы праз краўдфандынг на далейшую працу над слоўнікам. У канцы 2019 года да працоўнай групы далучыўся Вячаслаў Мартысюк.
Была праведзена вялікая праца – створана адмысловая праграма для ўкладання электроннай версіі, слоўнікавыя артыкулы (35.000) вычытаны наноў і ўнесены ў базу і г. д. Выданне не ўбачыла б свет без шматлікіх валанцёраў і фундатараў, якія нам дапамагалі. Мы выказваем ім нашу найшчырэйшую падзяку:
<div class="row">
<div class="md-6" style="margin-left: 5rem">
<span/>Настасься Аляшкевіч
<br/>Антон Арцёменка
<br/>Zoja Bartosh
<br/>Аляксандра Баярына
<br/>Антон Бельскі
<br/>Dzianis Brynkevič
<br/>Olga Goritskaya
<br/>Dzmitry Haurychenka
<br/>Тацяна Гацура
<br/>Volha Hiedranovich
<br/>Уладзіслава Губіч
<br/>Андрусь Жвір
<br/>Сергей Желобовский
<br/>Сяргей Запрудскі
<br/>Ігар Іваноў
<br/>Марыя Кавальчук
<br/>Aliaksandr Kazakou
<br/>Віталь Катовіч
<br/>Севярын Квяткоўскі
<br/>Усевалад Кімаеў
<br/>Виталий Кравченок
<br/>Źmicier Krymoŭski
<br/>Андрей Купченко
</div>
<div class="md-6" style="margin-left: 5rem">
<span/>Марына Курышка
<br/>Yury Labovich
<br/>Сяргей Лобач
<br/>Раман Маладзяшын
<br/>Настасься Мацяш
<br/>Павел Мінютка
<br/>Ірына Міхальчанка
<br/>Васіль Прымака
<br/>Victor Radziwinowski
<br/>Georgy Roy
<br/>Тацяна Сакун
<br/>Зьміцер Санько
<br/>Караліна Саўка
<br/>Irina Slavnikova
<br/>Вольга Цiтова
<br/>Aliaksei Tsitovich
<br/>Vadim Titov
<br/>Вадзім Шклярык
<br/>Pavel Shut
<br/>Вальжына Шутава
<br/>Алесь Яўдаха
</div>
</div>

Асаблівую падзяку выказваем Ілоне Урбановіч-Саўцы.

<h2 id="p2">Пра гэтае выданне</h2>
Слоўнік Насовіча доўгі час заставаўся «рэччу ў сабе», перадусім з прычыны расейскага дарэформеннага правапісу, нявытрыманасці «паўэтымалагічнага пісьма» (Яўхім Карскі), прынятага ўкладальнікам, вялікай колькасці запісаных у розных мясцовасцях<sup data-ref="z1" id="f1"><a href="#z1">[1]</a></sup> фанетычных, акцэнталагічных і інш. варыянтаў аднаго і таго ж слова (пададзеных у асобных артыкулах, часам без адсылак<sup data-ref="z2" id="f2"><a href="#z2">[2]</a></sup>):  акано´м/ікано´м, ввіну´ць/увіну´ць, здыліка´ціць/здэліка´ціць, Няме´тчына/Няме´ччына, оке´нніца/воке´нніца, о´кліп/в´окліп, слу´хаты/слу´хаць, таі´ты/таі´ць, усчу´неваць/усчу´ніваць/ушчу´ніваць, ху´дкі/ху´ткі, абаку´ла/оба´кула, дзендо´бры/дзен-до´бры, дзень-дзяньскі´й/дзень-дзяньскі´, в ве´чар/у´вечар, в двух/удву´х і інш.
Усё гэта стварала і стварае цяжкасці пры карыстанні слоўнікам. Сучасны карыстальнік не пазнае беларускіх слоў за старым дарэформенным расейскім правапісам, таму ўзнікла патрэба ўніфікацыі правапісу згодна з сучаснымі нормамі беларускай літаратурнай мовы, а таксама забеспячэння слоўнікавых артыкулаў сістэмай дадатковых тлумачэнняў/адсылак.
У электронным перавыданні Слоўніка Насовіча арыгінальны тэкст зменены мінімальна:
<ul>
<li>асноўная частка слоўніка злучана з дадаткамі «Прибавленіе» і «Дополненіе к Бѣлорусскому словарю»;</li>
<li>артыкулы <b>ПО</b>, <b>УѢДА́ЦЬЦА</b>, <b>ХУЦЬ</b> і <b>ЦЯ́ПАЦЬ</b> былі спалучаныя з адпаведнымі артыкуламі з дадаткаў;</li>
<li>асобныя праўкі тычацца тэхнічных памылак і памылак друку з улікам спіса памылак і хібаў, пададзенага рэдактарамі першага выдання.</li>
</ul>
Беручы пад увагу вышэйапісаныя праблемы, было вырашана зрабіць паралельна з арыгінальным рэестрам Слоўніка Насовіча яго асучасненую версію, прадоўжыўшы  працу Змітра Саўкі ў гэтым кірунку. Сучасная адаптацыя &mdash; гэта перадача арыгінальных загаловачных слоў сродкамі сучасных беларускіх графікі і правапісу; асобныя дыялектныя адзінкі слоўнікавага рэестра «алітаратурваліся», г. зн. узнаўляліся ў тым выглядзе, у якім яны маглі б існаваць у літаратурнай мове (больш падрабязна пра сучасную адаптацыю <a href="#d1">гл. Дадатак 1</a>).
<div style="text-indent: 3em;"><i>новь → ноў;</i> <i>ро´зсвѣтъ → ро´ссвет; щадже´нне → шчаджэ´нне; ближѣ´йшій → бліжэ´йшы; ги´дкій → гі´дкі; умы´слный → умы´сны; красць → кра´сці; диви´тися → [діві´тіся] → [дзіві´ціся] → дзіві´цца;</i></div>

Дадаткова, для пошуку з улікам семантыкі, уведзена адмысловае поле «ключавыя словы» (змяшчае больш за 90.000 пазіцый), якое дазваляе шукаць не толькі асобнае слова, але і словы ці выразы з блізкім значэннем (больш падрабязна пра «ключавыя словы» <a href="#d2">гл. Дадатак 2</a>):
<div style="text-indent: 3em;">велегу´рицьца [велягу´рыцца] – <i>пышыцца, фанабэрыцца, выхваляцца, задавацца; </i></div>
<div style="text-indent: 3em;">акави´тка [акаві´тка], акави´точка [акаві´тачка], алембико´вка [алембіко´ўка], горку´ха [гарку´ха], желудко´вка [жалудко´ўка], ... <i>= гарэлка</i></div>

Электронная версія ўтрымлівае «Прадмову» і «Тлумачэнне скарочаных указанняў у слоўніку» з арыгінальнага выдання, а таксама прадмову да факсімільнага выдання 1983 года Міхаіла Судніка, артыкулы Паўла Шэйна (адна з першых спроб біяграфіі Івана Насовіча) і Мікалая Гуліцкага (грунтоўнае даследаванне лексікаграфічнай дзейнасці Івана Насовіча).
Спецыяльна для гэтага выдання падрыхтавана бібліяграфія друкаваных і рукапісных прац Івана Насовіча і публікацый, прысвечаных яго жыццю і творчасці. У яе аснову пакладзена бібліяграфічная спроба Ларысы Гедзімін<sup data-ref="z3" id="f3"><a href="#z3">[3]</a></sup>. Мы ўдакладнілі гэтую бібліяграфічную спробу і пашырылі на 146 пазіцый. У раздзел «Рукапісныя працы І. І. Насовіча» ўведзены падраздзелы «Страчаныя/згубленыя рукапісы І. І. Насовіча», «Эпісталярная спадчына» і «Varia» (матэрыялы іншых асоб, матэрыялы да біяграфіі). Кожная пазіцыя забяспечана дакладным архіўным адрасам або бібліяграфічнай спасылкай (спасылкамі).

<h2 id="p3">Перавагі сучасных падыходаў</h2>
Электронныя выданні слоўнікаў маюць відавочныя перавагі ў параўнанні з папяровымі:
а) непараўнальна большыя магчымасці пошуку па слоўніку – не толькі значна хутчэйшы пошук па загалоўку артыкула, але і пошук па частцы загалоўка, па словах у слоўнікавым артыкуле, што патрабавала б поўнага перачытвання папяровага слоўніка ад пачатку да канца ў кожным выпадку;
б) магчымасць выхаду па-за межы слоўніка: інтэграванне ў большыя слоўнікавыя сістэмы (накшталт slounik.org), у іншыя рэсурсы;
в) значна меншыя выдаткі на выданне і прасцейшы спосаб распаўсюду: для электронных слоўнікаў не можа быць варыянтаў «наклад распрадалі», «слоўнік дасяжны толькі ў бібліятэцы» і г. д.;
г) не патрабуюць перавыданняў, яны могуць абнаўляцца і выпраўляцца рэгулярна;
д) могуць захоўвацца ў сістэмах кантролю версій (накшталт git), што дазваляе кантраляваць усе змены, якія ўносяцца ў электронны слоўнік. Такія сістэмы дазваляюць дакладна вызначыць, хто, калі і што выправіў.
Варта заўважыць, што слоўнікі, выдадзеныя як pdf-файлы, не з’яўляюцца паўнавартаснымі электроннымі выданнямі, бо не маюць большасці пераваг электронных слоўнікаў.
Электроннае выданне Слоўніка Насовіча захоўваецца ў git, утрымлівае зыходныя файлы .xml для далейшай апрацоўкі і дадавання ў пошукавыя сістэмы, а таксама файлы .html, якія можна праглядаць у звычайным браўзары. З улікам даўнасці папяровага выдання, слоўнік распаўсюджваецца як Public Domain<sup data-ref="z4" id="f4"><a href="#z4">[4]</a></sup>.

<h2 id="p4" style="text-align: center;">* * *</h2>

Праца над Слоўнікам Насовіча паказала, што слоўнікі любога тыпу варта рабіць з улікам семантычных сувязей. Поле «ключавыя словы» было зроблена для паляпшэння пошуку і паказала сваю высокую эфектыўнасць. У далейшым варта стандартызаваць ужыванне ключавых слоў праз прывязку да семантычнай базы, якую трэба стварыць для беларускай мовы.
Выпускаючы плён нашай працы ў свет, мы шчыра спадзяёмся, што яна паслужыць усім, хто не абыякавы да беларускага слова, і прыдасца як спецыялістам, так і аматарам. Падкрэслім, што электронная версія Слоўніка Насовіча мае практычны характар; далейшая ж праца з ёй (удасканальванне зробленага, асучасніванне дэфініцый і ілюстрацый слоўніка, яго навукова-крытычнае перавыданне і інш.) – справа будучыні. Гэтае выданне – добры інструмент для вывучэння спадчыны Івана Насовіча і беларускай мовы XIX ст., які дазволіць вывесці працу даследчыкаў на новы ўзровень.

<div class="row"><img alt="-----------" style="margin: 2rem auto 2rem auto;" src="s1.svg"/></div>

<h2 id="d1">Дадатак 1. Прынцыпы адаптацыі арыгінальнага рэестра Слоўніка Насовіча</h2>
<div class="left">
 Найбольш частотныя выпадкі:
&ndash; <i>асобныя літары</i> (<b>ă, ĕ, ȇ, и, ŏ, ô, щ, ъ, ѣ, ѣ̆, ѣ̂, э̆, э̂, я̆</b>), <i>не характэрныя для сучаснай беларускай літаратурнай мовы, трансфармаваныя ў залежнасці ад пазіцыі ў слове:</i>

<div style="text-indent: 2em;">га´мз<b>ă</b>ць → га´мз<b>а</b>ць;</div>
<div style="text-indent: 2em;">абы´дз<b>ĕ</b>нь → абы´дз<b>е</b>нь;</div>
<div style="text-indent: 2em;">акцы´знич<b>ĕ</b>къ → акцы´зніч<b>а</b>к;</div>
<div style="text-indent: 2em;">дзер<b>ȇ</b>ну´ць → [дзер<b>я</b>ну´ць] дзер<b>а</b>ну´ць;</div>
<div style="text-indent: 2em;">к<b>и´</b>даць → к<b>і´</b>даць;</div>
<div style="text-indent: 2em;">в<b>ŏ</b>лхви´ць → в<b>а</b>лхві´ць;</div>
<div style="text-indent: 2em;">б<b>ô</b>га´то → б<b>а</b>га´та;</div>
<div style="text-indent: 2em;"><b>щ</b>адже´нне → <b>шч</b>аджэ´нне;</div>
<div style="text-indent: 2em;">аво´з<b>ъ</b> → аво´з;</div>
<div style="text-indent: 2em;">ба´биц<b>ъ</b>ца → ба´біцца;</div>
<div style="text-indent: 2em;">устр<b>ѣ</b>ка´цьца → [устр<b>я</b>ка´цца] → устр<b>а</b>ка´цца;</div>
<div style="text-indent: 2em;"><b>ѣ̆</b>зда´ → <b>я</b>зда´;</div>
<div style="text-indent: 2em;">зв<b>ѣ̂</b>ру´шка → зв<b>я</b>ру´шка;</div>
<div style="text-indent: 2em;">сиро´т<b>э̆</b>нька → сіро´т<b>а</b>нька;</div>
<div style="text-indent: 2em;">ц<b>э̂</b>ге´льня → ц<b>а</b>ге´льня;</div>
<div style="text-indent: 2em;">дз<b>я̆</b>кова´ць → дз<b>я</b>кава´ць</div>

&ndash; <i>спалучэнне</i> <b>іо</b> <i>перадаецца як</i> <b>ё</b> <i>або</i> <b>-ыо</b>:
<div style="text-indent: 2em;"><b>іо´</b>дкій → <b>ё´</b>дкі;</div>
<div style="text-indent: 2em;">амбиц<b>іо´</b>нъ → амбіц<b>ыо´</b>н</div>

&ndash; <b>й</b> <i>і</i> <b>ў</b> <i>у абсалютным пачатку слова заменены на</i> <b>і</b> <i>і</i> <b>у</b>:
<div style="text-indent: 2em;"><b>й</b>мя → <b>і</b>мя´;</div>
<div style="text-indent: 2em;"><b>ў</b>ло´вы → <b>у</b>ло´вы</div>

&ndash; <i>спалучэнне</i> <b>кг</b> <i>перадаецца як</i> <b>ґ</b> <i>(</i><b>г</b> <i>выбухное)</i>:
<div style="text-indent: 2em;"><b>кг</b>узъ → [<b>кг</b>уз] → <b>ґ</b>уз;</div>
<div style="text-indent: 2em;"><b>кг</b>еркгаць → <b>ґ</b>ерґаць</div>
                        
&ndash; <i>суфікс + постфікс</i> <b>-цьца</b> <i>перадаецца як </i><b>-цца</b>:
<div style="text-indent: 2em;">бга´<b>цьца </b>→ бга´<b>цца</b>;</div>
<div style="text-indent: 2em;">ва´би<b>цьца</b> → ва´бі<b>цца</b></div>

&ndash; <b>в</b> <i>перадаецца як</i> <b>у</b> <i>або</i> <b>ў</b> <i>у залежнасці ад пазіцыі</i>:
<div style="text-indent: 2em;"><b>в</b>ра´нку → <b>у</b>ра´нку;</div>
<div style="text-indent: 2em;">вдо<b>вж</b>ъ → удо´<b>ўж</b>;</div>
<div style="text-indent: 2em;">но<b>вь</b> → но<b>ў</b>;</div>
<div style="text-indent: 2em;">Анци´сла<b>въ</b> → Анці´сла<b>ў</b></div>

&ndash; <i>у асобных словах перад зычным і на канцы</i> <b>л</b> <i>перадаецца як</i> <b>ў</b>:
<div style="text-indent: 2em;">по<b>л</b>чворта´ → [па<b>л</b>чварта´] → па<b>ў</b>чварта´;</div>
<div style="text-indent: 2em;">у´па<b>лъ</b> → [у´па<b>л</b>] → у´па<b>ў</b></div>

&ndash; <i>на месцы рэдукаваных </i><b>і, ы</b> <i>ўзнаўляецца этымалагічны галосны:</i>
<div style="text-indent: 2em;">абу´знич<b>ы</b>ць → абу´зніч<b>а</b>ць;</div>
<div style="text-indent: 2em;">зала´<b>и</b>ць → [зала´<b>і</b>ць] → зала´<b>я</b>ць;</div>
<div style="text-indent: 2em;"><b>и</b>коно´мша → [<b>і</b>кано´мша] → <b>э</b>кано´мша;</div>
<div style="text-indent: 2em;">ци´х<b>и</b>нькій → [ці´х<b>і</b>нькі] → ці´х<b>е</b>нькі</div>

&ndash; <b>э</b> <i>ў запазычаннях звычайна захоўваецца</i>:
<div style="text-indent: 2em;">пов<b>э</b>това´ць → пав<b>э</b>тава´ць;</div>
<div style="text-indent: 2em;">шу´ст<b>э</b>ръ → шу´ст<b>э</b>р</div>

&ndash; <i>у словах, якія, магчыма, маюць заходнепалескае паходжанне,</i> <b>э</b> <i>перадаецца як </i><b>а</b>:
<div style="text-indent: 2em;">ко´с<b>э</b>нька → ко´с<b>а</b>нька;</div>
<div style="text-indent: 2em;">сторо´н<b>э</b>нька → старо´н<b>а</b>нька</div>

&ndash; <i>канчаткі</i> <b>-ий/-ій/-ый </b><i>перадаюцца як</i> <b>-і/-ы:</b>
<div style="text-indent: 2em;">ги´дк<b>ій</b> → гі´дк<b>і</b>;</div>
<div style="text-indent: 2em;">абу´зн<b>ый</b> → абу´зн<b>ы</b></div>

&ndash; <i>мяккія зычныя ў Слоўніку Насовіча, якія ў сучаснай беларускай мове з’яўляюцца зацвярдзелымі, перадаюцца як цвёрдыя</i>:
<div style="text-indent: 2em;">бли<b>жѣ´</b>йшій → блі<b>жэ´</b>йшы;</div>
<div style="text-indent: 2em;">ду<b>рѣ´</b>ць → [ду<b>ре´</b>ць] → ду<b>рэ´</b>ць;</div>
<div style="text-indent: 2em;">забли<b>щѣ´</b>ць → [заблі<b>шче´</b>ць] → заблі<b>шчэ´</b>ць;</div>
<div style="text-indent: 2em;">запук<b>чѣ´</b>ць → запук<b>чэ´</b>ць;</div>
<div style="text-indent: 2em;">аплик<b>а´</b><b>ція</b> → аплік<b>а´</b><b>цыя</b>;</div>
<div style="text-indent: 2em;">прово´р<b>ші</b>й → право´р<b>шы</b>;</div>
<div style="text-indent: 2em;">ут<b>рё´</b>ска → ут<b>ро´</b>ска;</div>
<div style="text-indent: 2em;">подво´<b>рь</b>е → падво´<b>р’</b>е;</div>
<div style="text-indent: 2em;">су<b>шь</b> → су<b>ш</b></div>

&ndash; <i>сцягненыя формы зваротных дзеясловаў падаюцца як поўныя</i>:
<div style="text-indent: 2em;">угне´сцьца → [угне´сца] → угне´сціся;</div>
<div style="text-indent: 2em;">убе´рцьца → [убе´рца] → убе´рціся</div>

&ndash; <i>у выпадках, калі пры асучасніванні сцягненых формаў зваротных дзеясловаў зрушваўся націск і ўскладнялася пазнавальнасць слова, сцягненыя формы захоўваліся</i>:
<div style="text-indent: 2em;">опре´жьца → апрэ´жца → [апрэ´гчыся];</div>
<div style="text-indent: 2em;">пе´чьца → пе´чца → [пе´кчыся, пячы´ся]</div>

&ndash; <i>канчатак </i><b>-ць</b> <i>дзеясловаў, аснова якіх заканчваецца на зычны гук, перадаецца як </i><b>-ці</b>:
<div style="text-indent: 2em;">крас<b>ць</b> → кра´с<b>ці</b>;</div>
<div style="text-indent: 2em;">грыз<b>ць</b> → гры´з<b>ці</b>;</div>
<div style="text-indent: 2em;">надзе´р<b>ць</b> → надзе´р<b>ці</b></div>

&ndash; <i>у выпадках, калі пры асучасніванні зрушваўся націск і ўскладнялася пазнавальнасць слова, дзеясловы ў інфінітыве з суфіксам</i> <b>-ч </b><i>захоўваліся</i>:
<div style="text-indent: 2em;">уце´<b>чь</b> → уце´<b>ч</b>;</div>
<div style="text-indent: 2em;">подпре´<b>жчь </b>→ падпрэ´<b>жч</b>;</div>
<div style="text-indent: 2em;">преж<b>чъ</b> → прэж<b>ч</b>; </div>
<div style="text-indent: 2em;">распе´<b>чь</b> → распе´<b>ч</b>;</div>
<div style="text-indent: 2em;">спре<b>жчь </b>→ спрэ<b>жч</b>;</div>
<div style="text-indent: 2em;">сце<b>чь</b> → сце<b>ч</b></div>

&ndash; <i>безасабовыя формы дзеясловаў на</i> <b>-ець</b> <i>і на</i> <b>-сь</b>, <i>а таксама дзеепрыслоўяў на</i> <b>-сь</b>, <i>падаюцца ў адпаведнасці з нормамі сучаснай беларускай літаратурнай мовы</i>:
<div style="text-indent: 2em;">забира´<b>ець</b> → [забіра´<b>ець</b>] → забіра´<b>е</b>;</div>
<div style="text-indent: 2em;">хорошѣ´<b>ĕць</b> → харашэ´<b>е</b>;</div>
<div style="text-indent: 2em;">сподоба´ло<b>сь</b> → [спадаба´ла<b>сь</b>] → спадаба´лас<b>я</b>;</div>
<div style="text-indent: 2em;">распого´дзило<b>сь</b> → [распаго´дзіла<b>сь</b>] → распаго´дзіла<b>ся</b>;</div>
<div style="text-indent: 2em;">наё´мши<b>сь</b> → [наё´мшы<b>сь</b>] → наё´мшы<b>ся</b></div>

&ndash; <i>правапіс прыставак на зычныя прыведзены ў адпаведнасць з нормамі сучаснай літаратурнай беларускай мовы</i>:
<div style="text-indent: 2em;"><b>с</b>вузѣ´ць → <b>з</b>вузе´ць;</div>
<div style="text-indent: 2em;"><b>зъ</b>ына´чивацьца → [<b>з</b>ына´чывацца] → <b>з</b>ына´чвацца;</div>
<div style="text-indent: 2em;"><b>без</b>зы´скный → <b>бяз</b>зы´скны;</div>
<div style="text-indent: 2em;"><b>ро´з</b>свѣтъ → <b>ро´с</b>свет;</div>
<div style="text-indent: 2em;"><b>от</b>би´ць → [<b>ат</b>бі´ць] → <b>ад</b>бі´ць;</div>
<div style="text-indent: 2em;">от<b>ц</b>о´хнуць → [ат<b>ц</b>о´хнуць] → ад<b>ц</b>о´хнуць</div>

&ndash; <b>ж</b> <i>на месцы гістарычнага</i> <b>*dj</b> <i>перадаецца як</i> <b>дж</b> <i>або</i> <b>ж</b>:
<div style="text-indent: 2em;">погор<b>ж</b>а´ць → [пагар<b>ж</b>а´ць] → пагар<b>дж</b>а´ць;</div>
<div style="text-indent: 2em;">пробу<b>ж</b>а´цьца → прабу<b>дж</b>а´цца;</div>
<div style="text-indent: 2em;">прасѣ´<b>ж</b>иваць → [прасе´<b>ж</b>ываць] → [прасе´<b>дж</b>ываць] → прасе´<b>дж</b>ваць;</div>
<div style="text-indent: 2em;">прихо<b>ж</b>а´лый → прыха<b>ж</b>а´лы;</div>
<div style="text-indent: 2em;">ну´<b>ж</b>а → ну´<b>ж</b>а;</div>
<div style="text-indent: 2em;">хо<b>ж</b>ба´ → ха<b>ж</b>ба´</div>

&ndash; <i>спалучэнне</i> <b>вг</b>, <i>якое, магчыма, узнікла пад уплывам польскай мовы, перадаецца як</i> <b>лг</b>:
<div style="text-indent: 2em;"><b>вг</b>аць → <b>лг</b>аць;</div>
<div style="text-indent: 2em;"><b>вг</b>унъ → [<b>вг</b>ун] → лгун;</div>
<div style="text-indent: 2em;">на<b>вг</b>а´ць → на<b>лг</b>а´ць</div>

&ndash; <i>спалучэнні</i> <b>слн, ств, стл, стн, тств, тсц, цств, шств, жств</b> <i>перадаюцца як </i><b>сн, сцв, сл, сн, цтв, сц, сцв, ств</b> <i>адпаведна</i>:
<div style="text-indent: 2em;">умы´<b>слн</b>ый → умы´<b>сн</b>ы;</div>
<div style="text-indent: 2em;">напа´<b>ств</b>иць → напа´<b>сцв</b>іць;</div>
<div style="text-indent: 2em;">зло<b>стл</b>и´вый → [зла<b>стл</b>і´вы] → зла<b>сл</b>і´вы;</div>
<div style="text-indent: 2em;">коры´<b>стн</b>ый → [кары´<b>стн</b>ы] → кары´<b>сн</b>ы;</div>
<div style="text-indent: 2em;">прокля´<b>тств</b>о → [пракля´<b>тств</b>а] → пракля´<b>цтв</b>а;</div>
<div style="text-indent: 2em;">по<b>тсц</b>и´вый → па<b>сц</b>і´вы;</div>
<div style="text-indent: 2em;">дзива´<b>цств</b>о → дзіва´<b>цтв</b>а;</div>
<div style="text-indent: 2em;">юда´<b>шств</b>о → [юда´<b>шств</b>а] → юда´<b>ств</b>а;</div>
<div style="text-indent: 2em;">убо´<b>жств</b>о → [убо´<b>жств</b>а] → убо´<b>ств</b>а</div>

&ndash; <i>спалучэнне</i> <b>сч</b> <i>перадаецца як</i> <b>шч</b>:
<div style="text-indent: 2em;">ни<b>сч</b>и´мный → [ні<b>сч</b>ы´мны] → ні<b>шч</b>ы´мны</div>

&ndash; <i>суфікс</i> <b>-ыва- (-іва-) </b><i>у дзеясловах незак. трыв. перадаецца як</i> <b>-ва-</b>:
<div style="text-indent: 2em;">апробо´в<b>ыва</b>ць → апрабо´ў<b>ва</b>ць;</div>
<div style="text-indent: 2em;">уда´л<b>ива</b>ць → [уда´л<b>іва</b>ць] → уда´ль<b>ва</b>ць;</div>
<div style="text-indent: 2em;">умо´вч<b>ива</b>ць → [умо´ўч<b>ыва</b>ць] → умо´ўч<b>ва</b>ць</div>

&ndash; <i>суфікс</i> <b>-ыва- </b><i>у дзеясловах незак. трыв. захоўваецца пасля збегу некаторых зычных</i>:
<div style="text-indent: 2em;">ога´рн<b>ыва</b>ць → ага´рн<b>ыва</b>ць;</div>
<div style="text-indent: 2em;">обро´вн<b>ыва</b>ць → абро´ўн<b>ыва</b>ць</div>

&ndash; <i>спалучэнне</i> <b>-іва-</b> <i>(=каранёвае</i> <b>і</b> <i>+ суф.</i> <b>-ва-</b>) <i>у дзеясловах незак. трыв. перадаецца як</i> <b>-йва-</b>:
<div style="text-indent: 2em;">пригна´<b>ива</b>ць → [прыгна´<b>іва</b>ць] → прыгна´<b>йва</b>ць;</div>
<div style="text-indent: 2em;">уто´<b>ива</b>ць → [уто´<b>і</b>ваць] → уто´<b>йва</b>ць </div>

&ndash; <i>лексіка з паўднёва-заходняга дыялекту падаецца ў адпаведнасці з нормамі сучаснай беларускай літаратурнай мовы</i>:
<div style="text-indent: 2em;">диви´тися → [діві´тіся] → [дзіві´ціся] → дзіві´цца;</div>
<div style="text-indent: 2em;">рекру´тик → [рекру´тік] → рэкру´цік;</div>
<div style="text-indent: 2em;">те´ртися → [те´ртіся] → це´рціся;</div>
<div style="text-indent: 2em;">тои´ти → [тоі´ті] → [таі´ці] → таі´ць</div>

&ndash; <i>падоўжаныя зычныя ў запазычаннях не захоўваюцца</i>:
<div style="text-indent: 2em;">а<b>сс</b>исте´нтъ → [а<b>сс</b>істэ´нт] → а<b>с</b>істэ´нт;</div>
<div style="text-indent: 2em;">кля´<b>сс</b>а → кля´<b>с</b>а</div>

&ndash; <i>спалучэнне</i> <b>дзк</b> <i>перадаецца як</i> <b>дск</b>:
<div style="text-indent: 2em;">лю´<b>дз</b>кій → [лю´<b>дз</b>кі] → лю´<b>дс</b>кі;</div>
<div style="text-indent: 2em;">челя´<b>дз</b>кій → [чаля<b>дз</b>кі] → чаля´<b>дс</b>кі</div>
 
&ndash; <i>аканне/яканне перадаецца ў адпаведнасці з нормамі сучаснай беларускай літаратурнай мовы</i>:
<div style="text-indent: 2em;">п<b>о</b>ч<b>е</b>рв<b>е</b>нѣ´ць → п<b>а</b>ч<b>а</b>рв<b>я</b>не´ць;</div>
<div style="text-indent: 2em;">чирв<b>о</b>нѣ´цьца → чырв<b>а</b>не´цца;</div>
<div style="text-indent: 2em;">шал<b>ё</b>ва´ць → шал<b>я</b>ва´ць</div>
 
&ndash; <i>спалучэнні</i> <b>дв, тв</b> <i>перад галоснымі пярэдняга раду перадаюцца як</i> <b>дзьв, цв</b>:
<div style="text-indent: 2em;">ле´<b>дв</b>е → ле´<b>дзь</b>ве;</div>
<div style="text-indent: 2em;">одран<b>тв</b>ѣць → [адран<b>тв</b>е´ць] → адран<b>цв</b>е´ць;</div>
<div style="text-indent: 2em;">сколо´<b>тв</b>ины → скало´<b>цв</b>іны</div>
 
&ndash; <i>некаторыя выпадкі фанетычнага напісання зменены на «этымалагічныя» ў адпаведнасці з сучаснымі нормамі</i>:
<div style="text-indent: 2em;">кро´<b>г</b>кій → кро´<b>х</b>кі;</div>
<div style="text-indent: 2em;">пры´<b>д</b>кій → пры´<b>т</b>кі;</div>
<div style="text-indent: 2em;">ху´<b>д</b>кій → ху´<b>т</b>кі;</div>
<div style="text-indent: 2em;">свѣ´<b>т</b>ка → све´<b>д</b>ка;</div>
<div style="text-indent: 2em;">на´<b>тт</b>о → [на´<b>тт</b>а] → на´<b>дт</b>а;</div>
<div style="text-indent: 2em;">хре´<b>з</b>ьбины → хрэ´<b>с</b>ьбіны</div>
 
&ndash; <i>зроблена спроба ўрэгулявання правапісу злучнікаў з часціцамі, прыслоўяў (прыслоўяў з злучнікамі і з часціцамі), прыназоўнікаў, займеннікаў, выклічнікаў (выклічнікаў з злучнікамі і з часціцамі), гукаперайманняў асобна/разам/праз злучок</i>:
<div style="text-indent: 2em;">ану´тка → ану´<b>-</b>тка;</div>
<div style="text-indent: 2em;">ба´біна<b>-</b>души´ца → ба´біна душы´ца;</div>
<div style="text-indent: 2em;">безу´стали → бязу´стали → без у´сталі;</div>
<div style="text-indent: 2em;">зъ-да´вна → зда´ўна;</div>
<div style="text-indent: 2em;">у дву´хъ → удву´х;</div>
<div style="text-indent: 2em;">цип, цип, цип → ціп-ціп-ціп;</div>
<div style="text-indent: 2em;">цюцюцю → цю-цю-цю</div>
</div>

<h2 id="d2">Дадатак 2. Поле «ключавыя словы»</h2>
<div class="left">
Поле «ключавыя словы» ўтрымлівае:
&ndash; сінонімы да таго або іншага рэестравага слова:
<div style="text-indent: 2em;">[ба´бскі] ба´бскій – <i>старэчы, бабін, кабецкі, кабечы, жаноцкі, жаночы;</i></div>
<div style="text-indent: 2em;">[велягу´рыцца] велегу´рицьца – <i>пышыцца, фанабэрыцца, выхваляцца, задавацца; </i></div>
<div style="text-indent: 2em;">[гам] гамъ – <i>шум, гоман, крык, гвалт, лямант, галас, мітусня, беганіна, сумятня;</i></div>
<div style="text-indent: 2em;">[ду´жа] ду´жо – <i>моцна, вельмі, надта</i></div>

&ndash; гіперонімы:
<div style="text-indent: 2em;">[акаві´тка] акави´тка, [акаві´тачка] акави´точка, [алембіко´ўка] алембико´вка, [гарку´ха] горку´ха, [жалудко´ўка] желудко´вка, … <i>= гарэлка;</i></div>
<div style="text-indent: 2em;">[бязле´тка] безлѣ´тка, [бязле´так] безлѣ´токъ, [бясшто´нік] безшто´никъ, [гі´ндрык, гі´ндрычак] ги´ндрикъ, ги´ндричекъ, ... <i>= дзіця</i></div>

&ndash; апісальныя канструкцыі:
<div style="text-indent: 2em;">[адама´шка] адама´шка – <i>шаўковая тканіна з узорамі;</i></div>
<div style="text-indent: 2em;">[важні´чае] важни´чее – <i>плата за ўзважванне;</i></div>
<div style="text-indent: 2em;">[гары´пень] гори´пень – <i>той хто застаўся без пары ў гульні ў гарыпні, той хто застаўся без пары ў гульні ў гарэлкі;</i></div>
<div style="text-indent: 2em;">[дзягці´ць] дзегци´ць – <i>урабляць у дзёгаць, пэцкаць дзёгцем</i></div>

&ndash; граматычныя формы (трывальныя, лікавыя і г. д.):
<div style="text-indent: 2em;">[распу´дзіцца] распу´дзицьца – <i>распудзіцца, распуджвацца;</i></div>
<div style="text-indent: 2em;">[тром] тромъ – <i>тром, тры;</i></div>
<div style="text-indent: 2em;">[падо´раны] подо´реный – <i>падораны, падарыць;</i></div>
<div style="text-indent: 2em;">[дро´гшы] дро´гший – <i>дрогшы, дрогкі</i>;</div>
<div style="text-indent: 2em;">[Ка´сечка] Ка´сичка – <i>Касічка, Кася, Кацечка, Каця, Кацярына.</i></div>
</div>
&nbsp;
&nbsp;
&nbsp;
<hr/>
 <sup id="z1"><a href="#f1">1</a></sup> Параўн.: «...слова, вошедшие в Белорусский словарь, принадлежат говору и Могилевской, и Витебской, и Минской, и Виленской, и Гродненской губерний, только с различным таковых произношением по двум диалектам» (Носович, И. Воспоминания моей жизни: [Записки языковеда и фольклориста] / И. Носович; вступ. сл. Н. Гилевича; подгот. к печати Т. М. Судник, Ю. М. Судник, А. Ю. Казакова // Неман. – 1997. – № 3.  – С. 253).
 <sup id="z2"><a href="#f2">2</a></sup> У Слоўніку Насовіча ёсць «пустыя» спасылкі, якія звычайна адсылаюць да няісных загаловачных слоў. На жаль, яны захоўваюцца і ў электроннай версіі.
 <sup id="z3"><a href="#f3">3</a></sup> Гл. дадатак да яе артыкула «Іван Насовіч – чалавек-загадка» у кн.: Спадчына Івана Насовіча і беларускае мовазнаўства: Матэрыялы навуковых чытанняў, прысвечаных 220-годдзю з дня нараджэння Івана Іванавіча Насовіча (18 лютага 2008 года, г. Мінск) / адк. рэд. М. Р. Прыгодзіч; Беларускі дзяржаўны ўніверсітэт. – Мінск: Права і эканоміка, 2008. – С. 6–15.
 <sup id="z4"><a href="#f4">4</a></sup> Public Domain (Грамадcкі набытак) — сукупнасць аб'ектаў аўтарскага права, маёмасныя правы на якія скончыліся або ніколі не існавалі. Распаўсюджваць і выкарыстоўваць грамадскі набытак могуць усе без выключэння. Творы, якія перайшлі ў грамадскі набытак, могуць свабодна выкарыстоўвацца любой асобай без выплаты аўтарскай узнагароды. Пры гэтым мусяць выконвацца асабістыя немаёмасныя правы аўтара — права аўтарства, права на імя, права на ахову рэпутацыі аўтара і права на абнародаванне. <i>(https://be.wikipedia.org/wiki/Грамадскі_набытак)</i>
