Як карыстацца электроннай версіяй Слоўніка Насовіча

<h2 id="p1">Рэестр</h2>
Рэестр слоўніка складаецца з некалькіх частак: 1) арыгінальны (не зменены) рэестр; 2) асучаснены рэестр (у тэксце падаецца ў квадратных дужках), які змяшчае загаловачныя словы, адаптаваныя да нормаў сучаснага беларускага правапісу.  
Кожны з іх пададзены ў прамым алфавітным парадку і ў адваротным:
 <i>Арыгінальны рэестр (прамы парадак)</i>
 <img style="border: 2px solid #888; padding: 1rem;" style="border: 2px solid #888; padding: 1rem;" src="1.png"/>

 <i>Асучаснены рэестр (прамы парадак)</i>
 <img style="border: 2px solid #888; padding: 1rem;" src="2.png"/>

 <i>Арыгінальны рэестр (адваротны парадак)</i>
 <img style="border: 2px solid #888; padding: 1rem;" src="3.png"/>

 <i>Асучаснены рэестр (адваротны парадак)</i>
 <img style="border: 2px solid #888; padding: 1rem;" src="4.png"/>

У кожным рэестры можна праглядаць слоўнікавыя артыкулы, націснуўшы на загаловачнае слова:
 <img style="border: 2px solid #888; padding: 1rem;" src="5.png"/>
 
<h2 id="p2">Пошук</h2>
 
Пошук можна рабіць у трох рэжымах: па загаловачным слове, па загаловачным слове і па тэксце, па асучасненых і ключавых словах
 <b><u>Па загаловачным слове</u></b>: пошук робіцца па арыгінальным рэестры Слоўніка Насовіча. Для палягчэння набору адмыслова дададзены літары, якіх няма ў сучасным беларускім алфавіце: и, щ, ъ, ѣ. Словы трэба набіраць так, як яны пададзены ў арыгінальнай версіі слоўніка (без уліку рэгістра):
 <img style="border: 2px solid #888; padding: 1rem;" src="6.png"/>
 <img style="border: 2px solid #888; padding: 1rem;" src="7.png"/> 

 <b><u>Па загаловачным слове і па тэксце</u></b>: пошук ідэнтычны папярэдняму, але дадаецца яшчэ пошук па арыгінальным тэксце:
 <img style="border: 2px solid #888; padding: 1rem;" src="8.png"/>

 <b><u>Па асучасненых і ключавых словах</u></b>: пошук робіцца па асучасненым рэестры і па полі «ключавыя словы», якое не вынесена ў асобны рэестр. Поле «ключавыя словы» ўтрымлівае сінонімы, гіперонімы, апісальныя канструкцыі і інш. Каб скарыстацца гэтым рэжымам пошуку, дастаткова ўвесці ў поле пошуку любое слова сучаснай беларускай літаратурнай мовы:
  <img style="border: 2px solid #888; padding: 1rem;" src="9.png"/>
  <img style="border: 2px solid #888; padding: 1rem;" src="10.png"/>

Калі вам трэба знайсці слова з усімі яго формамі, прыставачныя словы з пэўным коранем і інш., раім выкарыстоўваць знак «*». Асабліва гэтая магчымасць прыдасца для пошуку па тэксце:
 <img style="border: 2px solid #888; padding: 1rem;" src="11.png"/>
