Объясненіе сокращенныхъ указаній въ словарѣ (да выдання: Носович И. И. «Словарь белорусского наречия», 1870 г.)
 <i>Крыніца: Носович, И. И. Словарь белорусского наречия / И. И. Носович – СПб.: ОРЯС Имп. АН, 1870.</i>
&nbsp;
Гласныя буквы и слоги, стоящіе вслѣдъ за существительными и послѣ прилагательныхъ въ значеніи существительнаго, суть окончанія родительнаго ихъ падежа. Гласныя и слоги, стоящіе вслѣдъ за неопредѣленнымъ наклоненіемъ глаголовъ или послѣ неопредѣленнаго наклоненія неокончательнаго, совершеннаго и однократнаго видовъ показываютъ первое или второе лице единственнаго числа настоящаго или будущаго времени изъявительнаго наклоненія.
Архистр. значитъ Архистратига.
безл. – безличный.
бранн. – бранное (слово).
Брестск. – Брестскомъ (уѣздѣ).
буд. вр. – будущее время.
букв. – буквально.
Бѣлор. – Бѣлорусское.
взаимн. – взаимный и взаимнаго.
Виленск. губ. – Виленской губерніи.
вин. – винительный (падежъ).
во вс. знач. – во всѣхъ значеніяхъ.
возвр. въ знач. стр. – возвратный (глаголъ) въ значеніи страдательнаго.
волоч. волочебн. – волочебной (пѣсни).
вопрос. – вопросительный и вопросительное.
воскл. – восклицанія (междометіе).
въ знач. безл. гл. – въ значеніи безличнаго глагола (нарѣчіе).
въ знач. межд. – въ значеніи междометія
въ знач. нар. – въ значеніи нарѣчія.
въ знач. наст. в. – въ значеніи настоящаго времени.
въ знач. нескл. с. – въ значеніи несклоняемаго существительнаго (нарѣчіе).
въ знач. предл. – въ значеніи предлога (нарѣчіе).
въ знач. прил. – въ значеніи прилагательнаго.
въ знач. прош. вр. – въ значеніи прошедшаго времени.
въ знач. собир. – въ значеніи собирательнаго.
въ знач. сущ. м. – ж. – ср. – общ. – въ знач. существительнаго мужескаго, – женскаго, – средняго, – общаго рода.
въ неок. неупотреб. – въ неокончательномъ видѣ неупотребителенъ.
въ нравств. отн. – въ нравственномъ отношеніи.
въ р. род. дат. и предл. п. – въ родительномъ, дательномъ и предложномъ падежахъ.
выраж. – выражающее.
гл. безл. – глаголъ безличный.
гл. безл. возвр. – глаголъ безличный возвратный.
гл. безл. сов. в. – глаголъ безличный совершеннаго вида.
гл. д. – ср. – возвр. – взаимн. – общ. – глаголъ дѣйствительный, – средній, – возвратный, – взаимный, – общій.
гл. общ. сов. в. отъ ср…. – глаголъ общій совершеннаго вида отъ средняго….
гл. ср. однокр. в. отъ межд…. – глаголъ средній однократнаго вида отъ междометія….
гл. ч. – глагольная частица.
говор. – говорится.      
Греч. – Греческое.
Гродн. губ. – Гродненской губерніи.
дат. п. – дательный падежъ.
древн. Слав. – древнее Славянское.
духовн. – духовной (пѣсни).
дѣепр. гл. д. – ср. – возвр. – взаимн. – общ. – дѣепричастіе глагола дѣйствительнаго, – средняго, – возвратнаго, – взаимнаго, – общаго.
дѣйств. неопр. опр. опред. прекр. продолж. – дѣйствія неопредѣленнаго, опредѣленнаго, прекращаемаго, продолжаемаго.
дѣтск. – дѣтское (слово).
ед. ч. – единственное число и единственнаго числа.
желат. – желательный.   
Жид. Жидовск. – Жидовской (пѣсни).
Жидовск.-Нѣм. – Жидовско-Нѣмецкое (слово).
заимств. – заимствовано.
заключ. – заключительный (союзъ).
зв. зват. п. – звательный падежъ.
звукоп. звукоподр. – звукоподражательное (слово).
извѣстн. знач. – извѣстнаго значенія.
изъявит. – изъявительнаго (наклоненія).
изъясн. – изъяснительный (союзъ).
и под. т. и т. п. – и подобное тому, и тому подобное.
и проч. – и прочее.
ирон. – иронически.
и т. д. – и такъ далѣе.
качеств. – качественное.
количеств. – количественное.
колыб. – колыбельной (пѣсни).
крестин. – крестинной (пѣсни).
ласк. – ласкательное (слово).
Лат. – Латинское (слово).
Лит. – Литовски и Литовское.
л. – лице.
личн. – личное (мѣстоименіе).
межд. – междометіе.
Минск. – Минской (губерніи).
мн. множ. ч. – множественное число.
Мог. губ. – Могилевской губерніи.
мѣст. мѣст. личн. – мѣстоименіе, мѣстоименіе личное.
нар. – нарѣчіе.
нар. сравн. ст. отъ полож… – нарѣчіе сравнительной степени отъ положительной…
негод. – негодованія (междометіе).
неок. неоконч. в. – неокончательного вида.
неопред. – неопредѣленнаго (дѣйствія).
нескл. – несклоняемое (существительное).
неупотр. въ неок. – неупотребительнаго въ неокончательномъ (видѣ).
обл. – областное (слово).
общ. – общій (глаголъ) и общаго рода.
обыкн. знач. – обыкновеннаго значенія (кромѣ).
однокр. в. – однократнаго вида.
однокр. гл. д. – ср. – возвр. – вз. – общ. Однократный глагола дѣйствительнаго, – средняго, – возвратнаго, – взаимнаго. – общаго.
означ. – означающее (междометіе).
отгл. ч. – отглагольная частица.
отн. – относительное (мѣстоименіе).
отъ Греч. Евр. Лат. Нѣм. Польск. Слав. – отъ Греческаго, Еврейскаго, Латинскаго, Немѣцкаго, Польскаго, Славянскаго (слова).
отъ древн. сл. – отъ древняго слова.
отъ мало употр. неупотр. – отъ мало употребительнаго, неупотребительнаго (слова).
отъ межд. – отъ междометія.
отъ недостаточн. гл. возвр. сов. в. – отъ недостаточнаго глагола возвратнаго совершеннаго вида.
отъ неупотр. въ неок. – отъ неупотребительнаго въ неокончательномъ (видѣ).
перен. – переносно.
Пинск. – Пинскомъ (уѣздѣ).
пов. накл. – повелительное наклоненіе.
Погов. – Поговорка.
поряд. – порядочное (числительное).
Посл. – Пословица.
посл. послѣд. – послѣдовательный (союзъ).
прев. превосх. ст. – превосходная степень.
предл. – предлогъ – съ вин. твор. пред. п. – съ винительнымъ, творительнымъ, предложнымъ падежемъ.
предложн. – предложный (падежъ).
предпол. – предположительный (союзъ).
прил. – прилагательное – въ знач. с. – въ значеніи существительнаго.
прит. – притяжательное (мѣстоименіе).
прич. въ знач. прил. – причастіе въ значеніи прилагательнаго.
прич. гл. д. – ср. – возвр. – взаимн. – об. – причастіе глагола дѣйствительнаго, – средняго, – возвратнаго, – взаимнаго, – общаго.
прич. наст. вр. – причастіе настоящаго времени.
прич. стр. отъ д. гл… – причастіе страдательное отъ дѣйствительнаго глагола…
произн. – произносится.
противоп. – противоположный (союзъ).
прош. вр. – прошедшаго времени.
Пруж. – Пружанскаго (уѣзда).
разд. – раздѣлительный (союзъ).
раст. – растеніе.
рекр. – рекрутской (пѣсни).
род. пад. мн. ч. – родительный падежъ множественнаго числа. 
ругат. – ругательное (слово). 
свад. свадебн. – свадебной (пѣсни).
св. – святаго. 
скл. въ косв. п. – склоняется въ косвенныхъ падежахъ.
скл. ок. – склоняемаго окончанія.
Слав. – Славянское (слово).
сл. – сличи.
см. въ Приб. въ Сл. Слов. – Смотри въ Прибавленіи, въ Словарѣ.
смягч. – смягчительное (слово).
собир. – собирательное.
собств. гор. – собственное города.
собств. от крещ. – собственное отъ крещенія.
сов. в. гл. д. – совершенный (видъ) глагола дѣйствительнаго (и прочихъ).
сов. гл. д. въ ср. знач. – совершенный видъ глагола средняго въ дѣйств. значеніи.
сов. однокр. – совершенно однократный.
соед. – соединительный (союзъ).
сравн. скл. ст. спр. ст. отъ прил…. – сравнительная склоняемая степень, спрягаемая степень отъ прилагательнаго….
ср. – средній и средняго.
стар. – старинное (слово).
съ вин. и твор. п. – съ винительнымъ и творительнымъ падежами.
твор. п. – творительный падежъ.
т. е. – то есть.
увел. – увеличительное (слово).
указ. – указательное (мѣстоименіе и междометіе).
укор. – укорительное (слово).
ум. умен. – уменьшительное (слово).
умен. собств. имени отъ крещ. – уменьшительное собственнаго имени от крещенія.
унич. – уничижительное (слово).
уп. употр. въ мн. множ. – употребляемое въ множественномъ (числѣ).
употр. въ сред. кл. – употребляемое въ среднемъ классѣ (народа).
усил. знач. – усиливающее значеніе (прилагательное и нарѣчіе).
уѣзд. – уѣздахъ.
филос. – философическое (слово).
церк. – церковное (слово).
ч. – число и числа̀.   
числ. – числительное (имя).
юрид. – юридическое (слово).
